# Autopreenchido / Autofilled
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SECRET_KEY=

# Substitua <our_key> por chaves reais 
# Replace <our_key> for real keys
HF_API_TOKEN=<our_key>
